* {
  margin: 0;
  padding: 0;
  header {
    width: 100%;
  }

  main {
    background: aliceblue;
    width: 100%;
    padding: 1em 0;
    .gallery {
      display: flex;
      flex-wrap: wrap;
      margin: 0 auto;
      justify-content: center;
      width: 70%;
      .item {
        margin: 20px;
      }
    }
  }
}
