* {
  margin: 0 auto;
  header {
    width: 100%;
    position: fixed;
    height: 100px;
    background: #000;
    opacity: 0.8;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
    color: #fff;
    box-shadow: 0 4px 2px -3px rgb(124, 124, 124);
    h1 {
      font-family: "Vidaloka", serif;
      text-align: center;
      padding: 10px 20px;
      @media (max-width: 587px) {
        padding: 3px 20px;
      }
      border: 2px solid white;
    }
    .logo {
      align-self: center;
      margin: 0 30px;
    }
  }

  main {
    background: white;
    padding: 1em 0;
    width: 100%;
    margin: 0 auto;
    padding-top: 100px;
    select {
      display: flex;
      margin: 36px auto 20px;
    }
    .gallery {
      display: flex;
      flex-wrap: wrap;
      margin: 0 auto;
      justify-content: center;
      //   width: 70%;
      max-width: 800px;
      .item {
        margin: 20px;
        border: 1px inset black;
        padding: 3px;
      }
    }
  }
  footer {
    width: 100%;
    padding: 10px 0;
    margin: 20px 0;
    h3 {
      text-align: center;
    }
  }
}
